<!--model Caffeina.Models.Produit
@{
    ViewData["Title"] = "Ajouter produit";
    Layout = "_layoutadmine";
}

<div id="wrapper">

    <!-- Sidebar -->
    <!--@Html.Partial("_Navbar")-->
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <!--<div id="content-wrapper" class="d-flex flex-column">-->

        <!-- Main Content -->
        <!--<div id="content">-->

            <!-- Topbar -->
            <!--@Html.Partial("_Topbar")-->
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <!--<div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Ajouter - Produit</h1>

                </div>
                <form asp-controller="Admin" asp-action="AjouterProduit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <!--<div class="row mb-4">-->
                        <!-- Labelle Produit -->
                        <!--<div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" asp-for="Labelle"></label>
                                <input  asp-for="Labelle" class="form-control" />
                                <span asp-validation-for="Labelle" class="text-danger"></span>
                            </div>
                        </div>-->
                        <!-- Prix Produit -->
                        <!--<div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" asp-for="Prix"></label>
                                <input  asp-for="Prix" class="form-control" />
                                <span asp-validation-for="Prix" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" asp-for="DateAjout"></label>
                                <input asp-for="DateAjout" class="form-control" />
                                <span asp-validation-for="DateAjout" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">-->
                        <!-- Listes catégorie -->
                        <!--<div class="col">
                            <label class="form-label" asp-for="IdCateg" >Catégorie</label>

                            <select class="form-control" asp-for="IdCateg">-->
                                @*@foreach (Categorie cat in ViewBag.listcateg)*@
                                @*{*@
                                    @*<option>@cat.IdCateg</option>*@
                                @*}*@
                                
                                
                            <!--</select>
                            <span asp-validation-for="IdCateg" class="text-danger"></span>
                        </div>-->
                           
                    
                        <!-- Images Produit -->
                        <!--<div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" asp-for="ImageSource">Image</label>
                                <input type="file"  asp-for="ImageSource" accept="image/*" class="form-control-file" />
                            </div>
                        </div>
                    </div>-->

                    
                    @*<div data-mdb-input-init class="form-outline mb-4">
                        
                    </div>*@-->
                    <!-- Submit button -->
                    <!--<input type="submit" value="Ajouter" data-mdb-ripple-init class="btn btn-admin btn-block mb-4" />
                </form>
            </div>-->
            <!-- /.container-fluid -->

        <!--</div>-->
        <!-- End of Main Content -->
        <!-- Footer -->
        <!--@Html.Partial("_Footer")-->
        <!-- End of Footer -->

    <!--</div>-->
    <!-- End of Content Wrapper -->

<!--</div>-->