    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Produit</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="">Accueil</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Produit</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Menu Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h1 class="display-4">Produit Compétitif</h1>
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">DÉCOUVREZ NOTRE LARGE GAMME DE CAFÉ SOUS TOUTES SES FORMES AINSI QU’UNE SÉLECTION DE NOS AUTRES PRODUITS.</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="hovereffect">
                        <div class="card mb-5 box-shadow">
                            <img class="img-responsive" src="../img/Masque-de-nuit-au-sucre-brun.jpeg" alt="" style="height: 310px; width: 100%; display: block;">
                            <div class="overlay">
                                <a class="info" asp-controller="Home" asp-action="Produit">CAFÉ EN GRAINS</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="hovereffect">
                        <div class="card mb-5 box-shadow">
                            <img class="img-responsive" src="../img/nuit-au-sucre.jpeg" alt="" style="height: 310px; width: 100%; display: block;">
                            <div class="overlay">
                                <a class="info" href="#">CAFÉ MOULU</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hovereffect">
                        <div class="card mb-5 box-shadow">
                            <img class="img-responsive" src="../img/Masque-de-nuit-au-sucre-brun-2.jpeg" alt="" style="height: 310px; width: 100%; display: block;">
                            <div class="overlay">
                                <a class="info" href="#">CAPSULES COMPATIBLES</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hovereffect">
                        <div class="card mb-5 box-shadow">
                            <img class="img-responsive" src="../img/Machines-materiels.jpeg" alt="" style="height: 310px; width: 100%; display: block;">
                            <div class="overlay">
                                <a class="info" href="#">MACHINES ET MATÉRIEL</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hovereffect">
                        <div class="card mb-5 box-shadow">
                            <img class="img-responsive" src="../img/the-sucre.jpeg" alt="" style="height: 310px; width: 100%; display: block;">
                            <div class="overlay">
                                <a class="info" href="#">THÉ ET SUCRE</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hovereffect">
                        <div class="card mb-5 box-shadow">
                            <img class="img-responsive" src="../img/green-coffe.jpeg" alt="" style="height: 310px; width: 100%; display: block;">
                            <div class="overlay">
                                <a class="info" href="#">CAFÉ VERT</a>
                            </div>
                        </div>

                    </div>
                </div>

                @*<div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 310px; width: 100%; display: block;" src="../img/Masque-de-nuit-au-sucre-brun.jpeg" data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 310px; width: 100%; display: block;" src="../img/nuit-au-sucre.jpeg" data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 310px; width: 100%; display: block;" src="../img/Masque-de-nuit-au-sucre-brun-2.jpeg" data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 310px; width: 100%; display: block;" src="../img/Machines-materiels.jpeg" data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 310px; width: 100%; display: block;" src="../img/the-sucre.jpeg" data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 310px; width: 100%; display: block;" src="../img/green-coffe.jpeg" data-holder-rendered="true">
            </div>
        </div>*@
                @*<div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18c2eec7cb6%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18c2eec7cb6%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>*@
            </div>
        </div>
    </div>
    <!-- Menu End -->